@font-face {
    font-family: robinf;
    src: url('../Fonts/robingraffitifilledin-webfont.woff2') format('woff2'),
         url('../Fonts/robingraffitifilledin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: robin;
    src: url('../Fonts/robingraffiti-webfont.woff2') format('woff2'),
         url('../Fonts/robingraffiti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
  padding: 0;
  margin: 0;
    
}
body { 
  display: flex;
  flex-direction: column;
    background-color: gold;
    background-image: url(Images/Download_page.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 110.5vh;
  color: black;
  text-align: center;
  margin: 0;
  }



#pageHeader ul{
 opacity: 0.9;
  list-style-type: none;
  text-align: center;
    
  margin: 0;
  padding: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: #333;
  font-family: robinf;
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
   
}

#pageHeader li:hover{
    font-family: robin;
    
}

#pageHeader li {
  float:none;
    display: inline-block;
    
 
}

#pageHeader{
    padding-bottom: 40px;
}


#pageHeader li a {
    
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    
}

.Backdrop{
    
    width: 80%;
    background-color: whitesmoke;
    margin: auto;
    height: 800px;
    opacity: 90%;
    box-shadow: 5px 5px 5px grey;
}

li a:hover {
  background-color: #111;
}


#download h2{
    font-size: 50px;
    padding: 40px;
}

p{

    font-size: 25px;
padding-bottom: 40px;
    padding-top: 30px;

}

img{
    opacity: 100%;
}